{% extends "layout.html" %}
{% load static %}
{% block title %}Inicio{% endblock title %}

{% block body %}
<body>
    <div class="container">
        
        <nav>
            <a class="home" href="{% url 'frontend:index' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            </a>
            <ul>
                <a class="login" href="{% url 'frontend:form_login' %}">Inicia sesión</a>
                <a class="register" href="{% url 'frontend:form_registrar' %}">Regístrate</a>
            </ul>
        </nav>
        
        <main class="main-home">
            <h1>ENCUENTRA TU PRÓXIMA <br><span>AVENTURA.</span></h1>
        </main>
        
    </div>
</body>
{% endblock body %}