<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body >
    <div class="container container-login">

        <nav>
            <a class="home" href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            </a>
        </nav>
        
        <main class="main-login">
            <div class="login-form">
                <h2>Iniciar sesión</h2>
                <form id="formLogin" method="POST">
                    <input id="emailInput" type="email" placeholder="Correo electrónico" required>
                    <input id="passwordInput" type="password" placeholder="Contraseña" required>
                    <input type="submit" value="Continuar">
                </form>
                <div class="form-footer">
                    <p>Aún no tienes cuenta? <a href="{% url 'registrar_usuario' %}">Regístrate aquí</a></p>
                </div>
            </div>
        </main>

    </div>
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>