{% extends "layout.html" %}
{% load static %}
{% block title %}Mi Perfil{% endblock title %}

{% block body %}
<body class="body-perfil" >
    <div class="container-perfil">

        <nav>
            <a class="home" href="{% url 'frontend:index' %}">
                <img src="{% static 'images/logo-color.png' %}" alt="Logo" class="logo">
            </a>
        </nav>
        
        <main class="main-perfil">
            <div class="perfil-info">
                <img src="{% static 'images/avatar.png' %}" alt="Usuario" class="avatar">
                <h2>Bienvenido(a) {{usuario}}</h2>
                <p>{{correo}}</p>
                <div class="perfil-stats">
                    <p>{{seguidores}} seguidores</p>
                    <p>Siguiendo a {{siguiendo}}</p>
                </div>
                <div class="perfil-buttons">
                    <button onclick="cerrarSesion()">Cerrar sesión</button>
                </div>
            </div>
        </main>

    </div>
</body>
<script src="https://kit.fontawesome.com/d85944cffc.js" crossorigin="anonymous"></script>
{% endblock body %}