{% extends "layout.html" %}
{% load static %}
{% block title %}Registrar Usuario{% endblock title %}

{% block body %}
<body >
    <div class="container container-register">
        
        {% include "logo_nav.html" %}
        
        <main class="main-register">
            <div class="register-form">
                <h2>Crear cuenta</h2>
                <form id="formRegistro" method="post" action="/api/registrar/">
                    
                    {% if messages %}
                        {% for message in messages %}
                            <h4 style="color:firebrick">Error: {{message}}</h1>
                        {% endfor %}
                    {% endif %}
                    <input id="usernameInput" name="username" type="text" placeholder="Nombre de usuario" required>
                    <input id="emailInput" name="email" type="email" placeholder="Correo electrónico" required>
                    <input id="passwordInput" name="password" type="password" placeholder="Contraseña" required>
                    <input id="confirmpasswordInput" name="confirmpassword" type="password" placeholder="Confirma tu contraseña" required>
                    <input type="submit" value="Continuar">
                </form>
                <div class="form-footer">
                    <p>¿Ya tienes cuenta? <a href="{% url 'frontend:form_login' %}">Inicia sesión aquí</a></p>
                </div>
            </div>
        </main>
        
    </div>
</body>
{% endblock body %}